body{
  font-family:'Roboto', sans-serif;
  margin: 0;
}
.flex-display{
  display: flex;
}
.half-width{
  width: 50%;
}
.half-width img{
  width: 100%;
  height: 100%;
  padding-top: 5%;
}
.link-button{
  background-image: linear-gradient(rgb(255, 153, 0), rgb(255, 77, 45));
  padding: 20px 40px;
  border-radius: 30px;
  font-weight: 700;
  text-decoration: none;
  color: white;
  margin-top: 20px;
  display: inline-block;
}
.bannar-laft{
  margin: 10% 0 0 10%;
}
.bannar-laft h1{
  font-size: 3.3rem;
  font-weight: 900;
  color: rgb(105, 105, 105);
}
.bannar-laft h1 span{
  color: orange;
}
.bannar-laft p{
  font-size: 1.2rem;
  font-weight: 500;
  color: rgb(151, 151, 151);
}
.about-section{
  background-image: url(image/shapes/7.png);
  background-repeat: no-repeat;
  margin-top: 10%;
  height: 90%;
}
.about-left {
  margin: 10% 10% 0 5%;
  padding-bottom: 10%;
}  
.about-section img{
  height: 95%;
}
.about-left h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: rgb(105, 105, 105);
}
.about-left p {
  font-size: 1.1rem;
  font-weight: 400;
  color: rgb(59, 59, 59);
}
.recipie{
  padding: 100px 30px;
  background-color: rgb(240, 240, 240);

}
.recipie h2{
  text-align: center;
  color: rgb(65, 65, 65);
}
.recipie p{
  text-align: center;
  color: rgb(138, 138, 138);
}
.box{
  width: 33%;
  margin: 30px;
  padding: 12px;
  border-radius: 20px;
  background-color: white;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.box img{
  width: 100%;
}
.popularity-section{
  margin: 30px 50px;
  border-radius: 20px;
  background-color:rgb(241, 241, 241) ;
}
.popularity{
  width: 100%;
  text-align: center;
}
footer{
  text-align: center;
  padding: 30px 0 50px;
  background-color: black;
}
footer h1{
  color: rgb(71, 71, 71);
}
footer h1 span{
  color: rgb(255, 145, 0);
}
footer p{
  color: rgb(197, 255, 255);
}